{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}
    Новый пост
{% endblock %}
{% block includeCSS %}
    <link href="{% static 'post/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block includeJS %}
{% endblock %}

{% block content %}
    <h3><a href="{% url 'current_blog' blog.pk %}">{{ blog.title }}</a>|<strong>Новый пост</strong></h3>
    <hr>
    <div id="addComment" class="row">
    <form id="commentForm" method="post">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-2"><pre>Заголовок:</pre></div>
            <div class="col-sm-8 col-xs-12 col-md-8">{{ form.title }}</div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-2"><pre>Сам текст:</pre></div>
            <div class="col-sm-8 col-xs-12 col-md-8">{{ form.text }}</div>
        </div>
        <input type="submit" value="Создать">
        {% csrf_token %}
    </form>
</div>
{% endblock %}